In [36]:
#pip install yelpapi

In [37]:
from yelpapi import YelpAPI
from pprint import pprint
import pandas as pd
import numpy as np

# Import API key
from config import yelp_api_key

## Extract

In [38]:
yelp_api = YelpAPI(yelp_api_key)

In [39]:
# test
response = yelp_api.search_query(location='toronto', limit=2, offset=1)
pprint(response['businesses'])

[{'alias': 'seven-lives-tacos-y-mariscos-toronto',
  'categories': [{'alias': 'mexican', 'title': 'Mexican'}],
  'coordinates': {'latitude': 43.6543411559068, 'longitude': -79.4004796072841},
  'display_phone': '+1 416-393-4636',
  'distance': 2236.76924282367,
  'id': 'iGEvDk6hsizigmXhDKs2Vg',
  'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/4vmIs9jTNYlK24wb2WrQLg/o.jpg',
  'is_closed': False,
  'location': {'address1': '72 Kensington Avenue',
               'address2': '',
               'address3': '',
               'city': 'Toronto',
               'country': 'CA',
               'display_address': ['72 Kensington Avenue',
                                   'Toronto, ON M5T 2K1',
                                   'Canada'],
               'state': 'ON',
               'zip_code': 'M5T 2K1'},
  'name': 'Seven Lives Tacos y Mariscos',
  'phone': '+14163934636',
  'price': '$',
  'rating': 4.5,
  'review_count': 1323,
  'transactions': [],
  'url': 'https://www.yelp.com/biz/seven-lives-tacos-y-mariscos-toronto?adjust_creative=vliv81ZvKT_Oiqq8qtAerA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=vliv81ZvKT_Oiqq8qtAerA'},
 {'alias': 'kinka-izakaya-original-toronto',
  'categories': [{'alias': 'japanese', 'title': 'Japanese'},
                 {'alias': 'pubs', 'title': 'Pubs'}],
  'coordinates': {'latitude': 43.66045, 'longitude': -79.37915},
  'display_phone': '+1 416-977-0999',
  'distance': 2090.0820974770772,
  'id': 'RtUvSWO_UZ8V3Wpj0n077w',
  'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/nHFVveLBqeiCGy12R2CnRA/o.jpg',
  'is_closed': False,
  'location': {'address1': '398 Church Street',
               'address2': '',
               'address3': '',
               'city': 'Toronto',
               'country': 'CA',
               'display_address': ['398 Church Street',
                                   'Toronto, ON M5B 2A2',
                                   'Canada'],
               'state': 'ON',
               'zip_code': 'M5B 2A2'},
  'name': 'KINKA IZAKAYA ORIGINAL',
  'phone': '+14169770999',
  'price': '$$',
  'rating': 4.0,
  'review_count': 1628,
  'transactions': [],
  'url': 'https://www.yelp.com/biz/kinka-izakaya-original-toronto?adjust_creative=vliv81ZvKT_Oiqq8qtAerA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=vliv81ZvKT_Oiqq8qtAerA'}]

In [9]:
neighbourhood = pd.read_csv('../Resources/Neighbourhoods.csv')
neighbourhood.head()

,_id,AREA_ID,AREA_ATTR_ID,PARENT_AREA_ID,AREA_SHORT_CODE,AREA_LONG_CODE,AREA_NAME,AREA_DESC,X,Y,LONGITUDE,LATITUDE,OBJECTID,Shape__Area,Shape__Length,geometry
0,8401,25886861,25926662,49885,94,94,Wychwood (94),Wychwood (94),NaN,NaN,-79.425515,43.676919,16491505,3.217960e+06,7515.779658,"{u'type': u'Polygon', u'coordinates': (((-79.4..."
1,8402,25886820,25926663,49885,100,100,Yonge-Eglinton (100),Yonge-Eglinton (100),NaN,NaN,-79.403590,43.704689,16491521,3.160334e+06,7872.021074,"{u'type': u'Polygon', u'coordinates': (((-79.4..."
2,8403,25886834,25926664,49885,97,97,Yonge-St.Clair (97),Yonge-St.Clair (97),NaN,NaN,-79.397871,43.687859,16491537,2.222464e+06,8130.411276,"{u'type': u'Polygon', u'coordinates': (((-79.3..."
3,8404,25886593,25926665,49885,27,27,York University Heights (27),York University Heights (27),NaN,NaN,-79.488883,43.765736,16491553,2.541821e+07,25632.335242,"{u'type': u'Polygon', u'coordinates': (((-79.5..."
4,8405,25886688,25926666,49885,31,31,Yorkdale-Glen Park (31),Yorkdale-Glen Park (31),NaN,NaN,-79.457108,43.714672,16491569,1.156669e+07,13953.408098,"{u'type': u'Polygon', u'coordinates': (((-79.4..."

In [11]:
# Create a set of neighbourhood lat and lng combinations
lng_lats = []

lngs = neighbourhood['LONGITUDE']
lats = neighbourhood['LATITUDE']

lng_lats = zip(lngs, lats)


offset = 1
limit = 49
total_num_queries = 5

ids = []
names = []
categories = []
ratings = []
review_counts = []
zip_code = []


for lng_lats in zip(lngs, lats):
    
    for i in range(total_num_queries):
        
        response = yelp_api.search_query(latitude=lng_lats[1], longitude=lng_lats[0], radius=5000, limit=limit, offset=offset)

        for business in range(len(response['businesses'])):
            
            try:
                ids.append(response['businesses'][business]['id'])
                names.append(response['businesses'][business]['name'])
                categories.append(response['businesses'][business]['categories'][0]['title'])
                ratings.append(response['businesses'][business]['rating'])
                review_counts.append(response['businesses'][business]['review_count'])
                zip_code.append(response['businesses'][business]['location']['zip_code'])
                
            except:
                pass
        
        offset = offset + limit
    
    offset = 1

In [13]:
# Check if all the lists have the same number of elements
print(len(ids), len(names), len(ratings), len(review_counts), len(zip_code))

34219 34219 34219 34219 34219

## Transform

In [14]:
# Create a dataframe to hold the restaurant information
rating_df = pd.DataFrame({
                'id' : ids,
                'name' : names,
                'category' : categories,
                'ratings' : ratings,
                'review_counts' : review_counts,
                'zip_code' : zip_code
})

In [15]:
rating_df

,id,name,category,ratings,review_counts,zip_code
0,e41TP5cXZqSrz50xCBJqZw,Insomnia Restaurant & Lounge,Lounges,4.0,923,M5S 1Y6
1,r_BrIgzYcwo1NAuG9dLbpg,Pai Northern Thai Kitchen,Thai,4.5,2895,M5H 3G8
2,Uq-GOs9_IqweUsB5MdII9w,Emma's Country Kitchen,Breakfast & Brunch,4.0,394,M6C 1B6
3,iGEvDk6hsizigmXhDKs2Vg,Seven Lives Tacos y Mariscos,Mexican,4.5,1323,M5T 2K1
4,-ICGmF2qUVKdvOehVNgPbg,Lamesa Filipino Kitchen,Filipino,4.0,352,M6C 1A9
...,...,...,...,...,...,...
34214,EZrkg2mrQLGaXdsiuRnBgQ,Carmelina Restaurant,Italian,3.5,66,L3R 2W1
34215,PuVQWQAjG5aYOCO8uupw_w,Sozo Ramen & Sushi,Ramen,3.5,50,M2J 4V6
34216,ACEqQMXXuWWneDqeOsIg8g,Kathy's Grill,Burgers,4.5,47,M1P 2L1
34217,U4iTt02LLOg-zR5p0a0THQ,Prairie Lamb Kabob,Food Court,4.0,23,L3R 0N8
34218,teDbCTDdgICtC-pSTzCBAA,DM Chicken,Korean,3.0,55,M1V 0C7

In [32]:
# Drop the duplicated rows
yelp_rating = rating_df.drop_duplicates(subset=['id', 'name', 'ratings', 'review_counts'], keep='first')

# Rename columns
yelp_rating = yelp_rating.rename(columns={'id':'restaurant_id'})
yelp_rating = yelp_rating.set_index('restaurant_id')

## Final Transformed Table: yelp_rating

In [33]:
yelp_rating

,name,category,ratings,review_counts,zip_code
restaurant_id,,,,,
e41TP5cXZqSrz50xCBJqZw,Insomnia Restaurant & Lounge,Lounges,4.0,923,M5S 1Y6
r_BrIgzYcwo1NAuG9dLbpg,Pai Northern Thai Kitchen,Thai,4.5,2895,M5H 3G8
Uq-GOs9_IqweUsB5MdII9w,Emma's Country Kitchen,Breakfast & Brunch,4.0,394,M6C 1B6
iGEvDk6hsizigmXhDKs2Vg,Seven Lives Tacos y Mariscos,Mexican,4.5,1323,M5T 2K1
-ICGmF2qUVKdvOehVNgPbg,Lamesa Filipino Kitchen,Filipino,4.0,352,M6C 1A9
...,...,...,...,...,...
RNdcUG1sCTLdUo8dEC9NJw,The Local,Bars,3.5,58,M6R 2M9
kbSSGo6zRPSdBT-CwG2cNg,Suvaiyakam Restaurant,Sri Lankan,4.5,11,M1W 3G5
jyPsc5xUFpVOuuSylPkZdw,Dumplings & Szechuan Cuisine,Chinese,3.5,25,M1W 2H7
OJfFKXx0AHk5VsL5VPvbdA,Delicious Shawarma and Falafel,Falafel,3.5,28,M1W 3G5
lUIKCofKNVMluW0LAw1eEQ,Happy Tummy Filipino Cuisine,Filipino,3.5,21,M1W 3G5

In [34]:
yelp_rating.to_csv('../clean_data/yelp_rating.csv')

In [35]:
rating_df.to_csv('../clean_data/rating_df.csv')